[Unit]
Description=rad10d - daemon service to facillitate hardware control of mpd.

[Service]
Type=forking
ExecStart=/usr/local/sbin/rad10d
SyslocIdentifier=rad10d
StandardOutput=null
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=rad10d.service
